@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

:root {
  --background-light: #F3F3F3;
  --background-dark: #050505;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--background-light);
  color: #171717;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-display {
  font-family: var(--font-archivo-black), sans-serif;
}

.grain-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 50;
  opacity: 0.03;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuAMC3dGcqy1-4XQWWsaWI8n7YkRA-UmD3G_CIeTEbFOBmVjaiwDQuNuIWejd-8IkDy9b-lMtCnGS8UxfzLpPzd5uvw9QR546xJeCMn3JpPfXJbQ-BwSySxPDJHH6rUgAFwYcOV1nJIScVemI4Ro35-M2aH45dOIrE_3MORdDefUtddpjzO631hTDtLB3_B7H2KujyP6S3q7c6mbRMZcWDLvPsDT-iFh1caEdeKreSYf68fftglbRGB6bWqfyoKdjbitolWnl_jFFnw);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.dark ::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}
